<template>
  <div class="icon drupalicon">
    <svg
      id="Layer_1"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 755 826"
      enable-background="new 0 0 755 826"
      xml:space="preserve"
    >
      <path
        :fill="dark"
        d="M539.2,167.8c-39.8-24.8-77.2-34.5-114.8-59.2c-23.2-15.8-55.5-53.2-82.5-85.5c-5.2,51.8-21,72.8-39,87.8 c-38.2,30-62.2,39-95.2,57 C179.9,182.1,29.2,272.1,29.2,465.6s162.8,336,343.5,336s337.5-131.2,337.5-330S563.2,182.8,539.2,167.8z"
      />
      <path fill="#FFFFFF" d="M478.2,633.5c12,0,24.8,0.8,33.8,6.8s14.2,19.5,17.2,27s0,12-6,15c-5.2,3-6,1.5-11.2-8.2s-9.8-19.5-36-19.5 s-34.5,9-47.2,19.5s-17.2,14.2-21.8,8.2s-3-12,5.2-19.5s21.8-19.5,34.5-24.8S466.2,633.5,478.2,633.5L478.2,633.5z" />
      <path fill="#FFFFFF" d="M353.8,719c15,12,37.5,21.8,85.5,21.8S521,727.2,536,716c6.8-5.2,9.8-0.8,10.5,2.2s2.2,7.5-3,12.8c-3.8,3.8-38.2,27.8-78.8,31.5s-95.2,6-128.2-24 c-5.2-5.2-3.8-12.8,0-15.8s6.8-5.2,11.2-5.2S351.5,717.5,353.8,719L353.8,719z" />
      <path
        :fill="main"
        d="M170,662c57-0.8,67.5-10.5,117.8-33c271.5-121.5,321.8-232.5,331.5-258s24-66.8,9-112.5 c-2.9-8.8-5-15.9-6.5-21.6c-36.1-40.3-71.9-62.4-82.7-69.1c-39-24.8-77.3-34.5-114.8-59.2c-23.2-15-55.5-53.2-82.5-85.5 c-5.2,51.8-20.2,73.5-39,87.8c-38.2,30-62.2,39-95.2,57C179.8,182.8,29,272,29,465.5c0,61.8,16.6,118.4,45.1,166.8l7.4-0.3 C97.2,646.2,122,662.8,170,662z"
      />
      <path
        :fill="border"
        d="M539,167.8c-39-24.8-77.2-34.5-114.8-59.2c-23.2-15-55.5-53.2-82.5-85.5c-5.2,51.8-20.2,73.5-39,87.8 c-38.2,30-62.2,39-95.2,57C179.8,182.8,29,272,29,465.5c0,61.8,16.6,118.4,45.1,166.8c60.7,103.2,175.4,169.2,298.4,169.2 c180.8,0,337.5-131.2,337.5-330c0-109.1-44.3-185.5-88.3-234.6C585.6,196.5,549.8,174.5,539,167.8z M630.2,255.5 c49.2,61.6,74.2,134.2,74.2,216c0,47.4-9,92.2-26.8,133.2c-16.9,38.8-41.2,73.2-72.3,102.3c-61.5,57.4-144.1,89-232.7,89 c-43.8,0-86.8-8.4-127.8-24.9c-40.3-16.2-76.5-39.4-107.8-69C70.9,639.7,34.6,555.7,34.6,465.5c0-80.3,26.1-151.7,77.5-212.2 c39.3-46.2,81.7-71.8,98-80.6c8-4.3,15.4-8.2,22.6-11.9c22.6-11.6,44-22.6,73.4-45.6c15.7-11.9,32.4-30.8,39.5-78.7 c24.8,29.5,53.5,62.6,75.5,76.8c19.5,12.9,39.5,21.9,58.8,30.6c18.3,8.2,37.2,16.8,55.9,28.7c0,0,0.7,0.4,0.7,0.4 C591.4,207.1,620.6,243.6,630.2,255.5z"
      />
      <path
        :fill="light"
        d="M345.5,38c10.5,30.8,9,46.5,9,53.2s-3.8,24.8-15.8,33.8c-5.2,3.8-6.8,6.8-6.8,7.5c0,3,6.8,5.2,6.8,12 c0,8.2-3.8,24.8-43.5,64.5s-96.8,75-141,96.8S89,326,83,315.5s2.2-33.8,30-64.5s115.5-75,115.5-75L338,99.5l6-29.2"
      />
      <path fill="#FFFFFF" d="M345.5,37.2c-6.8,49.5-21.8,64.5-42,80.2c-33.8,25.5-66.8,41.2-74.2,45c-19.5,9.8-90,48.8-126.8,105 c-11.2,17.2,0,24,2.2,25.5s27.8,4.5,82.5-28.5S266,212,296.8,179.8c16.5-17.2,18.8-27,18.8-31.5c0-5.2-3.8-7.5-9.8-9 c-3-0.8-3.8-2.2,0-4.5S325.2,125,329,122s21.8-15,22.5-34.5S350.8,54.5,345.5,37.2L345.5,37.2z" />
      <path fill="#FFFFFF" d="M176.8,582.5c0.8-58.5,55.5-113.2,124.5-114c87.8-0.8,148.5,87,192.8,86.2c37.5-0.8,109.5-74.2,144.8-74.2 c37.5,0,48,39,48,62.2s-7.5,65.2-25.5,91.5s-29.2,36-50.2,34.5c-27-2.2-81-86.2-115.5-87.8c-43.5-1.5-138,90.8-212.2,90.8 c-45,0-58.5-6.8-73.5-16.5C187.2,639.5,176,615.5,176.8,582.5L176.8,582.5z" />
      <path fill="none" d="M628.2,258.5c15,45.8,0.8,87-9,112.5s-60,136.5-331.5,258c-50.2,22.5-60.8,32.2-117.8,33 c-48,0.8-72.8-15.8-88.5-30l-7.4,0.3c60.7,103.2,175.4,169.2,298.4,169.2c180.8,0,337.5-131.2,337.5-330 c0-109.1-44.3-185.5-88.3-234.6C623.2,242.6,625.4,249.7,628.2,258.5z" />
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    border () {
      if (this.color === true) {
        return '#004975'
      } else {
        return '#9c9d0e'
      }
    },
    main () {
      if (this.color === true) {
        return '#0077c0'
      } else {
        return '#c1c7cb'
      }
    },
    light () {
      if (this.color === true) {
        return '#81ceff'
      } else {
        return '#f2f3f4'
      }
    },
    dark () {
      if (this.color === true) {
        return '#00598e'
      } else {
        return '#474f54'
      }
    }
  }
}
</script>
