@import "vars/vars";
@import "functions/functions";
@import "mixins/mixins";

:root {
  @each $color, $val in $palette {
    --color--#{$color}: #{$val};
  }
}
html {
  color: var(--color--black);
  font-size: 16px;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.masthead {
  background-color: var(--color--white);
  padding: 5rem .5rem;
  margin-bottom: 5rem;
}
.title {
  display: block;
  font-weight: 300;
  $fontSizeMap: (
    1rem: 3.25rem,
    map-get($breakpoints, medium): 5rem,
    map-get($breakpoints, large): 6.25rem
  );
  @include poly-fluid-sizing('font-size', $fontSizeMap);
  color: var(--color--blue-dark);
  letter-spacing: 1px;
}
.subtitle {
  font-weight: 300;
  $fontSizeMap: (
    1rem: 1.8rem,
    map-get($breakpoints, medium): 2rem,
    map-get($breakpoints, large): 2.625rem
  );
  @include poly-fluid-sizing('font-size', $fontSizeMap);
  color: var(--color--gray-dark);
  word-spacing: 5px;
  padding-bottom: $global-spacing;
}

.section-title {
  text-align: center;
  margin-bottom: $global-spacing * 2;
  $fontSizeMap: (
    1rem: 2rem,
    map-get($breakpoints, medium): 2.35rem,
    map-get($breakpoints, large): 2.85rem
  );
  @include poly-fluid-sizing('font-size', $fontSizeMap);
}
