<template>
  <div class="portfolio-page">
    <header class="portfolio-header masthead">
      <h1 class="title">
        Portfolio
      </h1>
      <p class="subtitle">
        Checkout some of my work.
      </p>
      <p class="fyi">
        FYI, these projects are pulled from a Drupal 8 site into this Nuxtjs app using JSONAPI.  Pretty cool stuff.
      </p>
    </header>
    <ul v-if="projects.length" class="portfolio-list">
      <li
        v-for="(project, index) in projects"
        :key="project.id"
        :class="{'odd': index % 2 == 0, 'even': index % 2 !== 0}"
        class="portfolio-list--item"
      >
        <Card
          :id="project.id"
          :title="project.title"
          :image="project.hero_image.url"
          :image-alt="project.hero_image.alt"
          :teaser="getSummary(project)"
        />
      </li>
    </ul>
  </div>
</template>

<script>

import Card from '~/components/portfolio/Card'

export default {
  components: {
    Card
  },
  data () {
    return {
      posts: [],
      images: [],
      links: []
    }
  },
  computed: {
    projects () {
      return this.$store.state.projects.projects
    }
  },
  created () {
    this.$store.dispatch('projects/getProjects')
  },
  methods: {
    decodeUrl (url) {
      return decodeURIComponent(url)
    },
    getImage (image) {
      if (image.length) {
        const imageAlt = image.meta.alt
        return { alt: imageAlt }
      }
      return ''
    },
    matchImage (imageId) {
      for (let i = 0; i < this.images.length; i += 1) {
        if (imageId.data !== null && this.images[i].id === imageId.data.id) {
          return this.images[i].attributes.uri.url
        }
      }
      return ''
    },
    getSummary (projectData) {
      if (projectData.summary !== '') {
        return projectData.summary
      } else {
        return projectData.body
      }
    }
  },
  head () {
    return {
      title: 'Portfolio',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Some example projects.'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.portfolio-header {
  padding-left: $global-spacing;
  padding-right: $global-spacing;
}
.portfolio-list {
  list-style: none;
  padding: 0;
  max-width: 90rem;
  margin: 1rem auto;
  scroll-snap-type: y mandatory;

}
.portfolio-list--item {
  scroll-snap-align: start;
  margin-bottom: $section-margin;
}
</style>
