//// Breakpoint Mixin
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else if not unitless($breakpoint) {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
  @else {
    @content;
  }
}

/// poly-fluid-sizing
/// Generate linear interpolated size values through multiple break points
/// @param $property - A string CSS property name
/// @param $map - A SASS map of viewport unit and size value pairs
/// @requires function linear-interpolation
/// @requires function map-sort
/// @example
///   @include poly-fluid-sizing('font-size', (576px: 22px, 768px: 24px, 992px: 34px));
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@mixin poly-fluid-sizing($property, $map) {
  // Get the number of provided breakpoints
  $length: length(map-keys($map));
        
  // Error if the number of breakpoints is < 2
  @if ($length < 2) {
    @error "poly-fluid-sizing() $map requires at least values"
  }

  // Sort the map by viewport width (key)
  $map: map-sort($map);
  $keys: map-keys($map);

  // Minimum size
  #{$property}: map-get($map, nth($keys,1));
                                
  // Interpolated size through breakpoints
  @for $i from 1 through ($length - 1) {
    @media (min-width:nth($keys,$i)) {
      #{$property}: linear-interpolation((nth($keys,$i): map-get($map, nth($keys,$i)), nth($keys,($i+1)): map-get($map, nth($keys,($i + 1)))));
    }
  }
                                                          
  // Maxmimum size
  @media (min-width:nth($keys,$length)) {
    #{$property}: map-get($map, nth($keys,$length));
  }
}

/// Global Button Mixin
@mixin button($color: --light-color, $bg-color: --primary-color, $border-color: transparent) {
  text-decoration: none;
  text-align: center;
  transition: all .2s ease-in-out;
  max-width: max-content;
  padding: .5em .75em;
  $font-size: (40em: 1em, 75em: 1.5em);
  @include poly-fluid-sizing('font-size', $font-size);
  border-radius: $border-radius;
  cursor: pointer;
  color: var($color);
  @if $bg-color == transparent {
    background-color: transparent;
  }
  @else {
    background-color: var($bg-color);
  }
  border-width: 1px;
  border-style: solid;
  @if $border-color == transparent {
    border-color: transparent;
  }
  @else {
    border-color: var($border-color);
  }
  &:hover,
  &:focus {
    opacity: .8;
  }
}
