/* eslint-disable */
<template>
  <div class="portfolio-project">
    <div
      v-if="project && project.projectData"
    >
      <div
        v-if="project.images.hero"
        class="project-hero"
      >
        <img
          :src="imageSrc(project.images.hero.url)"
          :alt="project.images.hero.alt"
          loading="lazy"
        >
      </div>
      <h1
        v-if="project && project.projectData"
        class="title"
      >
        {{ project.projectData.attributes.title }}
      </h1>
      <div
        class="project-content"
      >
        <div
          v-if="project.projectData.attributes.field_project_intro_description"
          class="project-intro"
        >
          <h2 v-if="project.projectData.attributes.field_project_intro_title">
            {{ project.projectData.attributes.field_project_intro_title }}
          </h2>
          <Content
            :content="project.projectData.attributes.field_project_intro_description.processed"
          />
        </div>
        <div
          v-if="project.projectData.attributes.body.processed"
          class="project-body"
        >
          <Content
            :content="project.projectData.attributes.body.processed"
          />
        </div>
      </div>
      <aside v-if="project.timeLine.length > 0" class="project-timeline">
        <h2 class="section-title">
          {{ project.projectData.attributes.title }} Project Timeline
        </h2>
        <div class="timeline-items">
          <div
            v-for="(item, index) in project.timeLine"
            :key="item.id"
            :class="{'odd': index % 2 == 0, 'even': index % 2 !== 0}"
            class="project-timeline-item"
          >
            <div class="project-timeline-image">
              <img
                :src="imageSrc(item.image.url)"
                :alt="item.image.alt"
                loading="lazy"
              >
            </div>
            <div class="project-timeline-content">
              <h3>
                {{ item.title }}
              </h3>
              <div class="project-timeline-description">
                <Content :content="item.description" />
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</template>

<script>
import Content from '~/components/global/ProcessedContent'

export default {
  components: {
    Content
  },
  async asyncData ({ route, store }) {
    const id = route.params.id
    await store.dispatch('projects/getCurrentProject', id)
  },
  data () {
    return {
      post: {},
      imageHero: null,
      imageIntro: null,
      timeLine: null,
      title: '',
      included: {}
    }
  },
  computed: {
    project () {
      return this.$store.state.projects.project
    }
  },
  methods: {
    imageSrc (img) {
      if (img.length > 0) {
        return 'https://www.scottsawyerconsulting.com' + img
      } else {
        return null
      }
    }
  },
  head () {
    return {
      title: this.project.projectData.attributes.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.project.projectData.attributes.field_project_intro_title
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  text-align: center;
}
.project-hero {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  img {
    width: 100%;
    height: auto;
  }
}
.project-content {
  background-color: var(--color--white);
  max-width: 90rem;
  margin: 5rem auto;
  padding: 5rem 1rem;
  box-shadow: $global-shadow;
}
.project-intro {
  font-size: large;
  margin-bottom: 1.5rem;
  @include breakpoint(medium) {
    font-size: x-large;
  }
  @include breakpoint(large) {
    font-size: xx-large;
  }
}
.project-body {
  p {
    margin-bottom: .5rem;
  }
  @include breakpoint(medium) {
    columns: 2;
  }
}
.project-timeline {
  margin: 5rem 0;
  padding: 5rem 0;
  background-image: linear-gradient(to bottom, var(--color--gray-medium) calc(1/3 * 100%), var(--color--blue-dark) calc(1/3 * 100%));
  color: var(--color--gray-light);
  .section-title {
    color: var(--color--blue-dark);
  }
}
.timeline-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  margin: $global-spacing;
  position: relative;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--color--pink-medium) transparent;
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color--pink-medium);
  }
  &::-webkit-scrollbar-track {
    background-color: var(--color--blue-dark);
  }
  &::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--color--blue-dark);
  }
  .project-timeline-item {
    scroll-snap-align: start;
    padding: $global-spacing;
    margin-right: $global-spacing;
    width: 300px;
    border-left: 1px dotted var(--color--gray-medium);
  }
  .project-timeline-image {
    border-radius: 100%;
    background-color: var(--color--blue-dark);
    padding: $global-spacing;
    margin-top: 3rem;
    margin-bottom: 7rem;
    width: 252px;
    box-shadow: $global-shadow;
    img {
      width: 100%;
      height: auto;
    }
  }
  @include breakpoint(medium) {
    .project-timeline-image {
      margin-bottom: 10rem;
    }
  }
}
</style>
