<template>
  <ul class="testimonials-list">
    <li
      v-for="testimonial in realTestimonials"
      :key="testimonial.id"
      class="testimonial-item"
    >
      <TestimonialCard :testimonial="testimonial" />
    </li>
  </ul>
</template>

<script>
import TestimonialCard from '~/components/testimonials/testimonialCard'

export default {
  components: {
    TestimonialCard
  },
  props: {
    testimonials: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    realTestimonials () {
      const tests = this.shuffle(this.testimonials)
      return tests.slice(0, 3)
    }
  },
  methods: {
    shuffle (array) {
      let currentIndex = array.length
      let temporaryValue = null
      let randomIndex = null
      while (currentIndex !== 0) {
        randomIndex = Math.floor(Math.random() * currentIndex)
        currentIndex -= 1

        temporaryValue = array[currentIndex]
        array[currentIndex] = array[randomIndex]
        array[randomIndex] = temporaryValue
      }
      return array
    }
  }
}
</script>

<style lang="scss" scoped>
.testimonials-list {
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--color--blue-dark) transparent;
  overflow-x: scroll;
  margin: 0;
  list-style: none;
  padding: $global-spacing;
  &::-webkit-scrollbar-thumb {
    background-color: var(--color--pink-medium);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: $global-spacing;
    background-color: transparent;
  }
  li {
    scroll-snap-align: center;
    width: 300px;
    min-width: 300px;
    margin: 3rem $global-spacing;
  }
  @include breakpoint(medium) {
    justify-content: center;
  }
}
</style>
