<template>
  <div class="testimonial-card">
    <div class="testimonial-body">
      <Content :content="testimonial.body" />
    </div>
    <div class="testimonial-author">
      <strong>
        {{ testimonial.title }}
      </strong>
      <em
        v-if="testimonial.company"
        class="testimonial-company"
      >
        {{ testimonial.company }}
      </em>
    </div>
  </div>
</template>

<script>
import Content from '~/components/global/ProcessedContent'

export default {
  components: {
    Content
  },
  props: {
    testimonial: {
      type: Object,
      default: () => {},
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.testimonial-card {
  height: 100%;
  background-color: white;
  box-shadow: $global-shadow;
  display: grid;
  grid-template-rows: 3fr 1fr;
  position: relative;
  .testimonial-body {
    background-color: var(--color--blue-dark);
    color: var(--color--white);
    padding: $global-spacing;
    padding-bottom: 2.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  }
  .testimonial-author {
    align-self: end;
    padding: $global-spacing;
    min-height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &::before {
    position: absolute;
    content: "";
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-image: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 16 16" class="quote"><path fill="' + $gray-medium + '" d="M3.516 7c1.933 0 3.5 1.567 3.5 3.5s-1.567 3.5-3.5 3.5-3.5-1.567-3.5-3.5l-0.016-0.5c0-3.866 3.134-7 7-7v2c-1.336 0-2.591 0.52-3.536 1.464-0.182 0.182-0.348 0.375-0.497 0.578 0.179-0.028 0.362-0.043 0.548-0.043zM12.516 7c1.933 0 3.5 1.567 3.5 3.5s-1.567 3.5-3.5 3.5-3.5-1.567-3.5-3.5l-0.016-0.5c0-3.866 3.134-7 7-7v2c-1.336 0-2.591 0.52-3.536 1.464-0.182 0.182-0.348 0.375-0.497 0.578 0.179-0.028 0.362-0.043 0.549-0.043z"></path></svg>');
  }
  .testimonial-company {
  }
}
</style>
