<template>
  <footer class="page--footer">
    <div class="footer-container">
      <section class="cols footer-branding">
        <h2 class="footer-site-name">
          Scott Sawyer
        </h2>
        <h3 class="footer-site-slogan">
          Senior Drupal Developer
        </h3>
        <div class="skills">
          <p>Drupal / WordPress</p>
          <p>Front-end / Back-end</p>
        </div>
      </section>
      <section class="cols footer-contact">
        <a href="tel:4046953706" class="phone">(404) 695-3706</a>
        <a href="mailto:scott@scottsawyerconsulting.com" class="email">scott@scottsawyerconsulting.com</a>
      </section>
      <section class="cols footer-extras">
        <div class="footer-badges">
          <a href="https://www.drupal.org/u/scottsawyer" target="_blank" rel="noopener" title="View my Drupal profile">
            <Drupalicon />
          </a>
          <a href="https://github.com/scottsawyer" target="_blank" rel="noopener" title="View my Github profile">
            <Github />
          </a>
        </div>
        <div class="button-wrapper">
          <nuxt-link to="/contact" class="button">
            Contact Me
          </nuxt-link>
        </div>
      </section>
    </div>
    <svg id="footer-clip-svg" height="0" width="0" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <clipPath id="footer-clip" clipPathUnits="objectBoundingBox" transform="scale(0.000694444, 0.001666667)">
          <path d="M 0,0 C -1,-1 215,1.5 360,25 C 477,48 665,7 786,6 C 910,5 1046,43 1170,34 C 1226,30 1439,-0.03437635 1440,0 V 600 H 0 Z" />
        </clipPath>
      </defs>
    </svg>
  </footer>
</template>

<script>
import Drupalicon from '~/components/icons/drupalicon'
import Github from '~/components/icons/github'

export default {
  components: {
    Drupalicon,
    Github
  }
}
</script>

<style lang="scss" scoped>
.page--footer {
  background-image: linear-gradient(var(--color--blue-light), var(--color--blue-dark));
  padding: 5rem 1rem 1rem 1rem;
  clip-path: url(#footer-clip);
  flex-shrink: 0;
}
.footer-container {
  padding: $global-spacing;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: $global-spacing;
  grid-template-areas:
    "branding"
    "contact"
    "extras";
  @include breakpoint(medium) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "branding extras"
      "contact extras";
  }
  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "branding contact extras";
  }
}
.footer-branding {
  color: var(--color--white);
  grid-area: branding;
  .skills {
    padding: 0;
    margin: 0;
    font-style: italic;
  }
}
.footer-extras {
  grid-area: extras;
}
.footer-badges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: $global-spacing;
  a {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  @include breakpoint(medium) {
    justify-content: flex-end;
  }
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include breakpoint(medium) {
    justify-content: flex-end;
  }
}
.button {
  @include button(--color--white, --color--pink-dark);
  padding: .25rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}
.footer-contact {
  grid-area: contact;
  a {
    display: inline-block;
    color: var(--color--white);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    margin-right: 1rem;
    padding: .5rem 0.5rem 0;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--color--white);
      bottom: 0;
      left: 0;
      transition: all 0.2s ease;
    }
    &:hover {
      &::after {
        left: 100%;
      }
    }
  }
}
</style>
