<template>
  <header class="page--header">
    <h1 class="site-name">
      Scott Sawyer
    </h1>
    <Nav />
  </header>
</template>

<script>

import Nav from '~/components/global/Nav'

export default {
  components: {
    Nav
  }
}

</script>

<style lang="scss" scoped>
.page--header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: .5rem 1rem;
  z-index: 5;
  background-color: var(--color--white);
  @include breakpoint(medium) {
    flex-direction: row;
  }
}
</style>
