<template>
  <div>
    <Header />
    <main class="main">
      <Nuxt />
    </main>
    <Footer />
  </div>
</template>

<script>
import Header from './partials/Header'
import Footer from './partials/Footer'

export default {
  components: {
    Header,
    Footer
  }
}
</script>

<style>
html {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' height='100%25' width='100%25'%3E%3Cpath d='M 15 0 l 0 35 l 50 0 l 0 55 l -65 0' style='fill:none;stroke:%2376a0ff;stroke-width:1px;' /%3E%3Cpath d='M 30 0 l 0 55 l 70 0' style='fill:none;stroke:%2376a0ff;stroke-width:1px;' /%3E%3Cpath d='M 100 10 l -95 0 l 0 15 l 45 0 l 0 50 l -35 0 l 0 25' style='fill:none;stroke:%2376a0ff;stroke-width:1px;' /%3E%3Cpath d='M 0 65 l 30 0 l 0 35' style='fill:none;stroke:%2376a0ff;stroke-width:1px' /%3E%3C/svg%3E");
  background-repeat: repeat-y;
  background-size: 100% auto;
  font-family:
    'Nunito',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
#__layout > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
}
.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
