$blue-light: #76a0ff;
$blue-medium: #0f59ff;
$blue-dark: #000f32;

$pink-light: #ffa9ef;
$pink-medium: #ff0fd1;
$pink-dark: #ba0096;

$green-light: #a9ffba;
$green-medium: #00fd31;
$green-dark: #00871a;

$gray-light: #f2f3f4;
$gray-medium: #c1c7cb;
$gray-dark: #474f54;

$black: #0c0d0e;

$white: #f6f7f8;

$palette: (
  'white': $white,
  'black': $black,
  gray-light: $gray-light,
  gray-medium: $gray-medium,
  gray-dark: $gray-dark,
  green-light: $green-light,
  green-medium: $green-medium,
  green-dark: $green-dark,
  pink-light: $pink-light,
  pink-medium: $pink-medium,
  pink-dark: $pink-dark,
  blue-light: $blue-light,
  blue-medium: $blue-medium,
  blue-dark: $blue-dark
);
