$border-radius: 2rem;

$global-spacing: 1rem;

$global-shadow: 0 0 3rem 0 rgba($black, 0.2);

$global-shadow-off: 0 0 0 0 transparent;

$global-border: 1rem solid var(--color--blue-light);

$content-width: 90rem;

$section-padding: 5rem $global-spacing;

$section-margin: 10rem;

$breakpoints: (
  medium: 45rem,
  large: 90rem
);
