<template>
  <div class="about--page">
    <header class="about-header masthead">
      <div class="about-section">
        <h1 class="title">
          Hi, I'm Scott
        </h1>
        <p class="subtitle">
          I am a Senior Drupal Developer with more than 15 years experience in front-end and back-end development.
        </p>
      </div>
      <div class="profile-picture-container">
        <div class="profile-picture">
          &nbsp;
        </div>
      </div>
    </header>
    <nuxt-content :document="story" />
    <section class="resume-download">
      <div class="section-content-container">
        <h2>Download my resume</h2>
        <a href="/resume.pdf" class="button">Download</a>
      </div>
    </section>
    <nuxt-content :document="resume" />
    <section class="tag-line-wrapper">
      <h2 class="tag-line">Let's build awesome things</h2>
    </section>
    <section class="badges">
      <img src="https://www.drupal.org/sites/all/modules/drupalorg/drupalorg/images/association_ind_member_badge.svg" alt="Drupal Association member" title="Drupal.org since 2007" loading="lazy">
      <img src="https://www.drupal.org/sites/all/modules/drupalorg/drupalorg/images/association_drupalcares_2020_badge.svg" alt="DrupalCares sponsor" title="I am a DrupalCares sponsor" loading="lazy">
    </section>
  </div>
</template>

<script>

export default {
  async asyncData ({ $content }) {
    const resume = await $content('about', 'resume').fetch()
    const story = await $content('about', 'story').fetch()
    return { story, resume }
  },
  head () {
    return {
      title: 'About Scott Sawyer',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'View my resume and experience as a Drupal developer.'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
$contentWidth: 90rem;
$articlePadding:  5rem 1rem;

.about-header {
  display: flex;
  flex-direction: column;
  .profile-picture {
    clip-path: ellipse(100% 100% at 50% 0%);
    background-image: url('/about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    min-height: 400px;
  }
  .about-section {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include breakpoint(medium) {
    flex-direction: row;
    .about-section {
      min-height: calc(1/3 * 100vh);
    }
    .profile-picture-container {
      width: 40%;
      flex: 1 0 auto;
    }
    .profile-picture {
      clip-path: ellipse(100% 100% at 100% 50%);
      background-position: top center;
    }
  }
}
::v-deep .story {
  padding: $articlePadding;
  background-color: var(--color--gray-light);
   h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
  a {
    color: var(--color--blue-medium);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .section-content-container {
    max-width: $contentWidth;
    margin-left: auto;
    margin-right: auto;
  }
  .section-content {
    padding: $articlePadding;
    @include breakpoint(medium) {
      columns: 2;
    }
  }
  .quote {
    text-align: center;
    font-style: italic;
    font-size: 3rem;
  }
}
.badges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $section-margin;
  img {
    max-width: 300px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
  @include breakpoint(medium) {
    flex-direction: row;
  }
}
.resume-download {
  top: 90px;
  z-index: 1;
  background-color: var(--color--gray-dark);
  color: var(--color--gray-light);
  padding: $global-spacing;
  position: sticky;
  margin-bottom: $section-margin;
  @include breakpoint(medium) {
    align-items: center;
    top: 60px;
  }
  @include breakpoint(large) {
    padding: 5rem 1rem;
    top: 50px;
  }
  .section-content-container {
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
      flex-direction: row;
      align-items: center;
    }
    h2 {
      margin-right: 1rem;
    }
    .button {
      @include button(--color--white, transparent, --color--white);
      padding: .25rem .45rem;
      font-size: 1rem;
      &:hover {
        background-color: var(--color--white);
        color: var(--color--gray-dark);
      }
    }
  }
}
::v-deep .resume {
  max-width: $contentWidth;
  padding: $articlePadding;
  margin: 0 auto $section-margin auto;
  display: grid;
  grid-template-areas:
    "title"
    "experience"
    "education"
    "skills"
    "projects";
  gap: 2rem;
  background-color: var(--color--white);
  box-shadow: $global-shadow;
  color: var(--color--black);
  a {
    word-break: break-all;
  }
  .resume-section {
    margin-bottom: 1rem;
  }
  @include breakpoint(medium) {
    grid-template-columns: 1fr 350px;
    grid-template-areas:
      "title title"
      "experience skills"
      "experience projects"
      "education  projects";
    gap: 3rem;
  }
  .section-title {
    grid-area: title;
  }
  .resume-section-title {
    text-transform: uppercase;
    color: var(--color--blue-medium);
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .experience-title,
  .project-title,
  .education-title {
    font-size: 1.17rem;
  }
  .experience {
    grid-area: experience;
  }
  .experience-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    > li {
      margin-bottom: 2rem;
    }
  }
  .experience-meta {
    color: var(--color--gray-dark);
    font-size: .9rem;
  }
  .experience-link {
    color: var(--color--blue-medium);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: var(--color--blue-medium);
    }
  }
  .experience-description {
    font-size: 1.17rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: .75rem;
  }
  .education {
    grid-area: education;
  }
  .skills {
    grid-area: skills;
    color: var(--color--gray-dark);
  }
  .skills-list {
    list-style: none;
    padding: 0;
    > li {
      margin-bottom: .75rem;
    }
  }
  .projects {
    grid-area: projects;
    color: var(--color--gray-dark);
  }
  .projects-list {
    list-style: none;
    padding: 0;
    > li {
      margin-bottom: .75rem;
      a {
        color: var(--color--blue-light);
        text-decoration: none;
        &:hover {
          color: var(--color--blue-medium);
        }
      }
    }
  }
}
.tag-line-wrapper {
  margin-bottom: 1rem;
}
.tag-line {
  text-align: center;
  font-size: 4rem;
  font-style: italic;
  color: var(--color--pink-light);
  text-shadow: .1rem .1rem var(--color--black);
}
</style>
