<template>
  <div class="contact--page">
    <div class="contact-form-container">
      <ContactForm />
    </div>
    <div class="contact-information-container">
      <div class="contact-information">
        <h1 class="title">
          Contact Me
        </h1>
        <div class="contact-methods">
          <a href="mailto:scott@scottsawyerconsulting.com" class="email">scott@scottsawyerconsulting.com</a>
          /
          <a href="tel:4046953706" class="phone">(404) 695-3706</a>
          <address>531 Summer Ter. / Woodstock, GA 30189</address>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from '~/components/global/ContactForm'

export default {
  components: {
    ContactForm
  },
  head () {
    return {
      title: 'Contact Me',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'This is the best way to contact Scott Sawyer.'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.contact--page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{"min(375px, 100%)"}, 1fr));
  margin-bottom: $section-margin;
  .contact-form-container {
    background-color: var(--color--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
  }
  .contact-information-container {
    order: 0;
    background-color: var(--color--white);
    color: var(--color--white);
    .title {
      color: var(--color--white);
      text-align: center;
    }
    a {
      color: var(--color--white);
      text-decoration: none;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
    .contact-information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 1rem;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
      background-color: var(--color--blue-dark);
      .contact-methods {
        line-height: 2;
        text-align: center;
      }
    }
  }
  @include breakpoint(medium) {
    .contact-information-container {
      order: 1;
      .contact-information {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%,0% 50%);
      }
    }
    .contact-form-container {
      order: 0;
    }
  }
}
</style>
