<template>
  <div class="home--page">
    <header class="home-header masthead">
      <h1 class="title">
        Scott Sawyer
      </h1>
      <p class="subtitle">
        I am a Senior Drupal Developer currently seeking my next career opportunity.
      </p>
      <div class="links">
        <nuxt-link to="/contact" class="button hire-button">
          Contact Me
        </nuxt-link>
        <a
          href="https://drupal.org/u/scottsawyer"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
        >
          <div class="button-icon">
            <Drupal />
          </div>
          <span class="button-text">
            Drupal
          </span>
        </a>
        <a
          href="https://github.com/scottsawyer"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
        >
          <div class="button-icon">
            <Github />
          </div>
          <span class="button-text">
            Github
          </span>
        </a>
      </div>
      <div class="home-header-image">
        <img src="/profile-home.png" alt="Scott Sawyer: Senior Drupal Developer">
      </div>
    </header>
    <section class="section-cta">
      <div class="section-content-container">
        <h2 class="cta--title">
          A bit about myself
        </h2>
        <nuxt-link
          to="/about"
          class="button"
        >
          Read More
        </nuxt-link>
      </div>
    </section>
    <section class="section-video">
      <h2 class="section-title">
        My latest DrupalCamp presentation
      </h2>
      <div class="content-container">
        <YouTube />
      </div>
    </section>
    <section
      v-if="projects.length > 0"
      class="section-portfolio"
    >
      <h2 class="section-title">
        Example projects
      </h2>
      <PortfolioIntro :projects="projects" />
    </section>
    <section
      :v-if="testimonials.length > 0"
      class="testimonials-container"
    >
      <h2 class="section-title">
        Happy customers
      </h2>
      <Testimonials :testimonials="testimonials" />
    </section>
  </div>
</template>

<script>
import Testimonials from '~/components/testimonials/Testimonials'
import PortfolioIntro from '~/components/portfolio/PortfolioIntro'
import YouTube from '~/components/global/YouTube'
import Drupal from '~/components/icons/drupalicon'
import Github from '~/components/icons/github'

export default {
  components: {
    Testimonials,
    PortfolioIntro,
    YouTube,
    Drupal,
    Github
  },
  async asyncData ({ store }) {
    await store.dispatch('testimonials/getTestimonials')
    await store.dispatch('projects/getProjects')
  },
  computed: {
    testimonials () {
      return this.$store.state.testimonials.testimonials
    },
    projects () {
      return this.$store.state.projects.projects
    }
  },
  head () {
    return {
      title: 'Scott Sawyer\'s Portfolio',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Some projects and other information about Scott Sawyer'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.home-header {
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /**/
  display: grid;
  grid-template-areas:
    "title "
    "image"
    "subtitle"
    "links";
  padding-left: $global-spacing;
  padding-right: $global-spacing;
  margin-bottom: 0;
  .title {
    grid-area: title;
  }
  .subtitle {
    grid-area: subtitle;
  }
  .links {
    grid-area: links;
  }
  .home-header-image {
    grid-area: image;
    min-width: 100px;
    justify-self: end;
    img {
      max-width: 100%;
    }
  }
  @include breakpoint(medium) {
    grid-template-areas:
      "title image"
      "subtitle image"
      "links image";
  }
}
.section-cta {
  position: sticky;
  z-index: 2;
  background-color: var(--color--gray-dark);
  color: var(--color--white);
  top: 100px;
  padding: 1rem;
  margin-bottom: $section-margin;
  .section-content-container {
    display: flex;
    flex-direction: column;
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
  }
  .cta--title {
    margin-right: $global-spacing;
  }
  .button {
    @include button(--color--white, transparent, --color--white);
    padding: .25rem .45rem;
    &:hover {
      background-color: var(--color--white);
      color: var(--color--gray-dark);
    }
  }
  @include breakpoint(medium) {
    top: 60px;
    .section-content-container {
      flex-direction: row;
      align-items: center;
    }
  }
  @include breakpoint(large) {
    top: 50px;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.section-video {
  margin-bottom: $section-margin;
  padding-top: 5rem;
  background-color: var(--color--black);
  color: var(--color--white);
  .section-title {
    color: var(--color--pink-medium);
  }
}
.section-portfolio {
  margin-bottom: $section-margin;
  .section-title {
    color: var(--color--pink-medium);
  }
}
.content-container {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}
.links {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  max-width: 300px;
  .button {
    grid-row-start: 2;
    grid-column-start: auto;
    @include button(--color--white, --color--blue-medium);
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    height: 4rem;
    .button-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    .button-text {
      padding-left: .5rem;
    }
    &.hire-button {
      grid-row-start: 1;
      grid-column: 1 / span 2;
      @include button(--color--white, --color--blue-dark);
      text-transform: uppercase;
      max-width: 100%;
    }
  }
}

.testimonials-container {
  margin-bottom: $section-margin;
  .section-title {
    color: var(--color--pink-medium);
  }
}
</style>
