<template>
  <img
    :src="imageSrc"
    :alt="imageAlt"
    class="portfolio-card-image"
    loading="lazy"
  >
</template>

<script>
export default {
  props: {
    imageSrc: {
      type: String,
      default: ''
    },
    imageAlt: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.portfolio-card-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}
</style>
