<template>
  <div class="portfolio-card">
    <div v-if="image.length" class="portfolio-card--image">
      <nuxt-link :to="`/portfolio/project/${id}`">
        <CardImage
          :image-src="imgSrc(image)"
          :image-alt="imageAlt"
          loading="preload"
        />
      </nuxt-link>
    </div>
    <div class="portfolio-card--content--container">
      <div class="portfolio-card--content">
        <h3 v-if="title.length" class="portfolio-card--title">
          {{ title }}
        </h3>
        <div v-if="teaser.length" class="portfolio-card--teaser">
          <Content :content="teaser" />
        </div>
        <nuxt-link :to="`/portfolio/project/${id}`" class="button">
          Read More
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import CardImage from '~/components/portfolio/CardImage'
import Content from '~/components/global/ProcessedContent'

export default {
  components: {
    CardImage,
    Content
  },
  props: {
    id: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    },
    imageAlt: {
      type: String,
      default: ''
    },
    teaser: {
      type: String,
      default: ''
    }
  },
  methods: {
    imgSrc (image) {
      return 'https://www.scottsawyerconsulting.com' + image
    }
  }
}
</script>

<style lang="scss" scoped>

.portfolio-card {
  border: $global-border;
  box-shadow: $global-shadow;
  background-color: var(--color--white);
}
.portfolio-card--image {
  a {
    display: block;
  }
}
.portfolio-card--content {
  background-color: var(--color--white);
  padding: $global-spacing;
}
@include breakpoint(medium) {
  .portfolio-card {
    box-shadow: $global-shadow-off;
    background-color: transparent;
    border-width: 0;
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image content";
    .portfolio-card--image a {
      background-color: var(--color--white);
      border: $global-border;
      box-shadow: $global-shadow;
    }
    .portfolio-card--content {
      box-shadow: $global-shadow;
      border: $global-border;
    }
    .odd & {
      grid-template-areas:
        "content image";
      text-align: right;
      .portfolio-card--teaser {
        margin-left: auto;
      }
    }
  }
}
@include breakpoint(large) {
  .portfolio-card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "image image content";
    .odd & {
      grid-template-areas:
        "content image image";
    }
  }
}
.portfolio-card--image {
  grid-area: image;
}
.portfolio-card--content--container {
  grid-area: content;
}
.portfolio-card--teaser {
  max-width: 30rem;
  margin-bottom: $global-spacing;
}
.button {
  @include button(--color--white, --color--blue-dark);
  //  background-color: var(--color--blue-light);
  display: inline-block;
  padding: .25rem .5rem;
}
</style>
