<template>
  <nav id="pagination">
    <ul v-if="totalPageCount" class="page-numbers">
      <li
        v-for="num in pagetNumbers"
        v-if="num != null"
        :key="num.id"
      >
        <nuxt-link
          v-if="num != $route.query.page && num != currentPage"
          :to="{ path: '/', query: { page: num } }"
        >
          {{ num }}
        </nuxt-link>
        <span v-else>{{ num }}</span>
      </li>
    </ul>
    <ul v-if="totalPageCount != 1" class="page-guides">
      <li>
        <nuxt-link
          v-if="prevPage != 1 && $route.query.page"
          :to="{ path: '/', query: { page: 1 }}"
        >
          First
        </nuxt-link>
        <span v-else>First</span>
      </li>
      <li>
        <nuxt-link
          v-if="prevPage != null"
          :to="{ path: '/', query: { page: prevPage }}"
        >
          &laquo; Previous
        </nuxt-link>
        <span v-else>&laquo; Previous</span>
      </li>
      <li>
        <nuxt-link
          v-if="nextPage != null && $route.query.page != totalPageCount"
          :to="{ path: '/', query: { page: nextPage }}"
        >
          Next &raquo;
        </nuxt-link>
        <span v-else>Next &raquo;</span>
      </li>
      <li>
        <nuxt-link
          v-if="$route.query.page != totalPageCount"
          :to="{ path: '/', query: { page: totalPageCount }}"
        >
          Last
        </nuxt-link>
        <span v-else>Last</span>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data () {
    return {
      prevPage: null,
      nextPage: null,
      currentPage: null,
      pageNumbers: [],
      pageNumberCount: 0
    }
  },
  computed: {
    totalPageCount () {
      return ( this.$store.state.projects.projects.length / 9 )
    }
  },
  mounted () {
    this.setPageNumbers()
  },
  methods: {
    setPages (currentPage, totalPageCount) {
      this.prePage = currentPage > 1 ? (currentPage -1) : null
      if (!totalPageCount) {
        this.nextPage = this.$route.query.page ? (parseInt(this.$route.query.page) + 1) : 2
      } else {
        this.nextPage = currentPage < totalPageCount ? (parseInt(currentPage) + 1) : null
      }

      for (let i = 0; i < 7; i++) {
        let _p = ((parseInt(currentPage) - 4) + i)
        if (_p > 0 && _p <= totalPageCount) {
          this.pageNumbers.push(_p)
          this.pageNumberCount++
        } else {
          this.pageNumbers.push(null)
        }
      }
    },
    setPageNumbers () {
      let _currentPage = this.$route.query.page ? this.$route.query.page : 1
      this.cureentPage = _currentPage
      this.setPages(_currentPage, this.totalPageCount)
    }
  }
}

</script>
