<template>
  <div class="portfolio-intro-item">
    <div class="front">
      <h3>
        {{ project.title }}
      </h3>
      <a
        :href="projectLink(project.id)"
        class="button"
      >
        Read More
      </a>
    </div>
    <div class="back">
      <img
        :src="imageSrc(project.intro_image.url)"
        :alt="project.intro_image.alt"
        class="project-intro-image"
        loading="lazy"
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    project: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    imageSrc (image) {
      return 'https://www.scottsawyerconsulting.com' + image
    },
    projectLink (id) {
      return '/portfolio/project/' + id
    }
  }
}
</script>

<style lang="scss" scoped>
.portfolio-intro-item {
  position: relative;
  .front {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black,.7);
    clip-path: circle(0% at 50% 50%);
    transition: all 0.3s ease-in;
    color: var(--color--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      border: 1px dotted var(--color--white);
    }
    h3 {
      margin-bottom: $global-spacing;
      z-index: 2;
      font-size: 2.15rem;
      text-align: center;
    }
    .button {
      z-index: 2;
      &:hover {
        background-color: var(--color--white);
        color: var(--color--black);
      }
    }
    h3,
    .button {
      transform: translateY(2rem);
      transition: all .3s ease;
    }
  }
  .back {
    overflow: hidden;
    .project-intro-image {
      transition: all 0.3s ease-in;
    }
  }
  &:hover {
    .front {
      clip-path: circle(100% at 50% 50%);
      z-index: 1;
      h3,
      .button {
        transform: translateY(0);
      }
    }
    .back {
      .project-intro-image {
        transform: scale(1.5) rotate(10deg);
        z-index: -1;
      }
    }
  }
}
.button {
  @include button(--color--white, transparent, --color--white);
}
</style>
