<template>
  <ul
    v-if="projects"
    class="projects"
  >
    <li
      v-for="project in projects"
      :key="project.id"
      class="project-item"
    >
      <PortfolioItem :project="project" />
    </li>
  </ul>
</template>

<script>
import PortfolioItem from '~/components/portfolio/PortfolioIntroItem'

export default {
  components: {
    PortfolioItem
  },
  props: {
    projects: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
.projects {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  overflow-X: scroll;
  scrollbar-color: var(--color--pink-medium) transparent;
  &::-webkit-scrollbar-thumb {
    background-color: var(--color--pink-medium);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: $global-spacing;
    background-color: transparent;
  }
  .project-item {
    margin: $global-spacing;
    min-width: 300px;
    scroll-snap-align: center;
  }
  @include breakpoint(medium) {
    flex-wrap: wrap;
    justify-content: center;
    .project-item {
      margin: 0;
    }
  }
}
</style>
