<template>
  <form class="contact-form" @submit.prevent="handleSubmit">
    <fieldset class="contact-form-container">
      <legend>Hello</legend>
      <div v-if="result.status !== null" class="message" :class="[result.status]">
        {{ result.message }}
      </div>
      <div class="field-wrapper">
        <label for="name" class="required">Your Name</label>
        <input
          id="name"
          v-model="name"
          type="text"
          name="name"
          placeholder="Please enter your full name"
          required
        >
      </div>
      <div class="field-wrapper">
        <label for="email" class="required">You Email</label>
        <input
          id="email"
          v-model="email"
          type="email"
          name="email"
          placeholder="you@example.com"
          required
        >
      </div>
      <div class="field-wrapper">
        <label for="subject" class="required">Subject</label>
        <input
          id="subject"
          v-model="subject"
          type="text"
          name="your-subject"
          placeholder="What's this all about?"
          required
        >
      </div>
      <div class="field-wrapper">
        <label for="message" class="required">Your Message</label>
        <textarea
          id="message"
          v-model="message"
          name="message"
          rows="5"
          placeholder="Your message goes here..."
          required
        />
      </div>
      <div class="field-wrapper">
        <input type="submit" value="Send Your Message" class="button">
      </div>
    </fieldset>
  </form>
</template>

<script>

import axios from 'axios'
const formApiUrl = 'https://www.scottsawyerconsulting.com/webform_rest/submit?_format=json'

export default {
  data () {
    return {
      submitted: false,
      webform_id: 'contact',
      entity_type: null,
      entity_id: null,
      in_draft: false,
      name: '',
      email: '',
      subject: '',
      message: '',
      result: {
        status: null,
        message: null
      }
    }
  },
  methods: {
    handleSubmit () {
      this.submitted = true
      const payload = {
        webform_id: 'contact',
        entity_type: null,
        entity_id: null,
        in_draft: false,
        name: this.name,
        email: this.email,
        subject: this.subject,
        message: this.message
      }
      this.send(payload)
    },
    validateEmail () {
    },
    send (payload) {
      const currentObj = this
      axios.post(formApiUrl, payload)
        .then((response) => {
          currentObj.response('success', 'Message Sent')
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error)
          const message = 'Uh oh, I must have broken something...'
          this.response('error', message)
        })
    },
    response (status, theMessage) {
      this.result.message = theMessage
      this.result.status = status
    }
  }
}
</script>

<style lang="scss" scoped>
.message {
  display: block;
  padding: 1rem;
  background-color: white;
  border-left-width: 3px;
  border-left-style: solid;
  margin: .5rem 0;
  &.success {
    border-left-color: var(--color--green-medium);
    background-color: var(--color--green-light);
  }
  &.error {
    border-left-color: var(--color--pink-medium);
    background-color: var(--color--pink-light);
  }
}
.contact-form {
  padding: 1rem;
  width: 100%;
  fieldset {
    border: 2px solid var(--color--blue-dark);
  }
  legend {
    color: var(--color--white);
    background-color: var(--color--gray-dark);
    padding: .35rem .75rem;
    border-radius: $border-radius;
    font-size: 1.35rem;
  }
  label {
    color: var(--color--dark-blue);
    position: relative;
    padding-right: $global-spacing;
    &.required::after {
      content: "*";
      position: absolute;
      color: var(--color--pink-dark);
      top: 0;
    }
  }
  input[type="text"],
  input[type="email"],
  textarea {
    padding: .5rem;
    max-width: 100%;
    :invalid {
      border: 1px solid var(--color--pink-dark);
    }
  }
  input[type="submit"] {
    @include button(--color--white, --color--blue-dark);
  }
  .field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

}
</style>
