<template>
  <svg
    id="loading"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    viewBox="0 0 136.08391 59.100082"
    height="100%"
    width="100%"
  >
    <defs>
      <linearGradient id="loading-left-right" x1="100%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color: transparent" />
        <stop offset="25%" style="stop-color: var(--color--blue-light)" />
        <stop offset="75%" style="stop-color: var(--color--blue-light)" />
        <stop offset="100%" style="stop-color: transparent" />
        <animate
          id="a1"
          attributeName="x1"
          from="-100%"
          to="100%"
          :dur="duration"
          begin="0s;a2.end - .75s"
          fill="freeze"
        />
        <animate
          id="b1"
          attributeName="x2"
          from="0%"
          to="200%"
          :dur="duration"
          begin="0s;b2.end - .75s"
          fill="freeze"
        />
      </linearGradient>
      <linearGradient id="loading-right-left" x1="100%" y1="0%" x2="100%" y2="0%">
        <stop offset="0" style="stop-color: transparent" />
        <stop offset="25%" style="stop-color: var(--color--pink-light)" />
        <stop offset="75%" style="stop-color: var(--color--pink-light)" />
        <stop offset="100%" style="stop-color: transparent" />
        <animate
          id="a2"
          attributeName="x1"
          from="100%"
          to="-100%"
          :dur="duration"
          begin="a1.end - .75s"
          fill="freeze"
        />
        <animate
          id="b2"
          attributeName="x2"
          from="200%"
          to="0%"
          :dur="duration"
          begin="b1.end - .75s"
          fill="freeze"
        />
      </linearGradient>
    </defs>
    <path
      id="arrow-1"
      fill="url('#loading-left-right')"
      d="m 123.21129,1.9009658 v 5.379001 H 7.7506405 c -4.293952,0 -7.75043101105,3.4564792 -7.75043101105,7.7504312 V 38.550409 H 4.5436025 v -19.24327 c 0,-4.293949 3.456996,-7.750947 7.7509475,-7.750947 h 110.91674 v 5.354197 c 0.47479,-0.0315 0.93496,-0.15082 1.3007,-0.36019 l 10.92646,-6.254911 c 0.86089,-0.4928242 0.86089,-1.2863962 0,-1.7792202 l -10.92646,-6.254916 c -0.36574,-0.20937 -0.82591,-0.328711 -1.3007,-0.360186 z"
    />
    <path
      id="arrow-2"
      fill="url('#loading-right-left')"
      d="m 12.873037,57.82605 v -5.379 H 128.33369 c 4.29395,0 7.75043,-3.45648 7.75043,-7.75043 V 21.17661 h -4.54339 v 19.24327 c 0,4.29395 -3.457,7.75094 -7.75095,7.75094 H 12.873037 v -5.35419 c -0.474789,0.0315 -0.934955,0.15082 -1.300694,0.36019 L 0.64587749,49.43173 c -0.860891,0.49282 -0.860891,1.28639 0,1.77922 L 11.572343,57.46586 c 0.365739,0.20937 0.825905,0.32872 1.300694,0.36019 z"
    />
  </svg>
</template>

<script>

export default {
  data () {
    return {
      duration: '3s'
    }
  }
}

</script>

<style lang="scss" scoped>
#arrow-1 {
}
#arrow-2 {
  background-image: linear-gradient(to left, var(--color--blue-dark), var(--color--blue-light));

}

</style>
