<template>
  <div class="page--navigation">
    <nav class="main-navigation">
      <ul class="menu">
        <li v-for="item in links" :key="item.id" class="menu--item">
          <nuxt-link
            :to="{ path: item.path }"
          >
            {{ item.text }}
          </nuxt-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>

export default {
  data () {
    return {
      links: [
        {
          path: '/',
          text: 'Home'
        },
        {
          path: '/about',
          text: 'About'
        },
        {
          path: '/portfolio',
          text: 'Portfolio'
        },
        {
          path: '/contact',
          text: 'Contact'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .menu--item {
    a {
      text-decoration: none;
      padding: .5rem .5rem;
      display: inline-block;
      text-transform: uppercase;
      color: var(--color--gray-dark);
      transition: all 0.25s ease-in-out;
      position: relative;
      overflow: hidden;
      &:hover,
      &.nuxt-link-exact-active {
        color: var(--color--black);
        &::after {
          left: 0;
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        left: 100%;
        position: absolute;
        bottom: 0;
        background-color: var(--color--gray-medium);
        transition: all .2s ease;
      }
      &:hover::after {
        left: 0;
      }
    }
  }
  @include breakpoint(medium) {
    .menu--item {
      a {
        padding: .5rem .75rem;
      }
    }
  }
}
</style>
