<template>
  <!-- eslint-disable-next-line vue/no-v-html -->
  <div class="processedContent" v-html="processContent(content)" />
</template>

<script>
export default {
  props: {
    content: {
      type: String,
      default: ''
    }
  },
  methods: {
    processContent (content) {
      const replacement = 'src="https://www.scottsawyerconsulting.com/sites'
      const updated = content.replace(/src="\/sites/g, replacement)
      return updated
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep p {
  margin-bottom: .5rem;
}
</style>
