<template>
  <section class="resume-download">
    <div class="section-content-container">
      <h2>Download my resume</h2>
      <a href="/resume.pdf" class="button">Download</a>
    </div>
  </section>
</template>

<script>

</script>
