<template>
  <client-only placeholder="Loading...">
    <div
      class="video-responsive"
    >
      <youtube
        :video-id="video.id"
        :host="video.host"
        :player-vars="video.vars"
        @ready="ready"
      />
    </div>
  </client-only>
</template>

<script>

export default {
  data () {
    return {
      isLoaded: false,
      player: null,
      video: {
        id: 'XysnC1rmedY',
        host: 'https://www.youtube-nocookie.com',
        vars: {
          modestbranding: 1,
          rel: 0
        }
      }
    }
  },
  methods: {
    ready (player) {
      this.player = player
      this.isLoaded = true
    }
  }
}
</script>

<style>
.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>

<style lang="scss" scoped>
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  >>> iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
</style>
